*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #081b29;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}
form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}
form input,form textarea{

    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}

form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}




body{
    
    color: #ededed;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none ;
}

  .navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #00abf0;
}


@media(max-width:991px){
    .header{
        padding: 2rem 4%;
    }
}
@media(max-width:768px){
    .header{
        background: #081b29;
    }
}





body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    background: #081b29;
  }
  div{
    box-sizing: border-box;
  }
  nav{
    background: #081b29;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
  }
  .nav-links a:hover{
    color:#38b8ff;
    letter-spacing: 5px;
  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
  }
  @media only screen and (max-width: 760px){
    nav{
     justify-content: space-between;
     padding: 0 5vw;
   }
   .nav-links{
     position: absolute;
     right: 0;
     top:8vh;
     min-height:92vh;
     background: #081b29;
     display: flex;
     flex-direction: column;
     align-items: center;   
     width: 50%;
     margin: 0;
     padding: 0;
     transform: translateX(100%);
     transition:All 0.5s ease-in;
   }
   .nav-links a{
     opacity: 0;
  
   }
   .burger{
     display: block;
   }
  
 }
 @media only screen and (max-width: 640px){
   nav{
     justify-content: space-between;
     padding: 0 5vw;
   }
 }
 .nav-active{
   transform: translateX(0);
 }
 @media only screen and (max-width: 460px){
   .nav-links{
     width: 100%;
     transition:All 0.5s ease;
   }
 }
 .nav-active{
   transform: translateX(0);
 }
 @keyframes navLinkFade{
   from{
     opacity: 0;
     transform: translateX(50px);
   }
   to{
     opacity: 1;
     transform: translateX(0);
   }
 }
 .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
 }
 .toggle .line2{
    opacity: 0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
 }
